[submodule "deps/minhook"]
	path = deps/minhook
	url = git@github.com:TsudaKageyu/minhook.git
[submodule "deps/json"]
	path = deps/json
	url = git@github.com:nlohmann/json.git
[submodule "deps/fmt"]
	path = deps/fmt
	url = git@github.com:fmtlib/fmt.git
